@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

/*Default font*/
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

@import "tailwindcss";

/* ============================
   Base setup (do not change)
   ============================ */
:root {
    --bg: #2c2d2c;
    --bg-light: #879669;
    --bg-dark: #787694;
    
    --font-main: "Cousine", monospace;

    --text-main: #e4e4e4;
    --text-title: #ffffff;
    --text-muted: #b7b7b7;
    
    --onDrag: #879669;
    --outline: #04D9FF;
    --hovering: #c49a7c;

    --rounded: 10px;
    
}

/* ============================
   THEME 1
   ============================ */
.animal-theme {
    --bg: #366b7b;
    --bg-light: #adb541;
    --bg-dark: #000000;

    --font-main: "Barrio", system-ui;
    --text-main: #e4e4e4;
    --text-title: #ffffff;
    --text-muted: #b7b7b7;

    --onDrag: #e9f23e;
    --outline: #04D9FF;
    --hovering: #4a624b;
}

/* ============================
   THEME 2
   ============================ */
.medieval-theme {
    --bg: #f8efe6;
    --bg-light: #fff6e9;
    --bg-dark: #e9dccf;

    --font-main: "Gabriela", serif;
    --text-main: #4b3d3d;
    --text-title: #2c1e1e; 
    --text-muted: #7a6a6a;

    --svg-main: #4b3d3d;
    --onDrag: #fff6e9;
    --outline: #464646;
    --hovering: #c1b6ac;
}

/* ============================
   THEME 3
   ============================ */
.futuro-theme {
    --bg: #3e545c;
    --bg-light: #154454;
    --bg-dark: #082028;

    --font-main: "BBH Bartle", sans-serif;
    --text-main: #d6f2ff;
    --text-title: #b6d5de;
    --text-muted: #9ac5d1;

    --onDrag: #154454;
    --outline: #edffbc;
    --hovering: #3e7f96;

    --rounded: 1px;
}

/* ============================
   Global usage
   ============================ */
body {
    user-select: none;
    background-color: var(--bg);
    color: var(--text-main);
    transition: background-color 0.5s ease, color 0.3s ease;

}

h1{
    color: var(--text-title);
    transition: color 0.3s ease, color 0.3s ease;
    font-family: var(--font-main);
    font-size: 1in;
}

h2,
h3,
h4,
h5 {
    color: var(--text-title);
    font-family: var(--font-main);
}

p {
    color: var(--text-main);
    font-weight: 200;
    font-family: var(--font-main);
}

.muted {
    color: var(--text-muted);
    font: var(--regular-text);
}

.section {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 8px;
    font-family: var(--font-main);

}

.card {
    background-color: var(--bg-dark);
    padding: 1rem;
    border-radius: 10px;
    font-family: var(--font-main);
}

#theme-svg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 9990;
    pointer-events: none;
    user-select: none;
    display: block;
    transform: translateY(100%);
    overflow: hidden;
}

#theme-svg-container svg {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: fill;
}

.draggable-item-is-dragging {
    z-index: 10000 !important;
    position: fixed !important;
    background-color: transparent;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.dnd-controller{
    font-family: "Cousine", monospace;
    font-weight: 600;
}